<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CRUD-APPLICATION</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
       
        <form action="/formdata" method="POST">

<input type="text" name="name" placeholder="Enter your name">
<input type="text" name="email" placeholder="Enter your email">
<input type="text" name="phone" placeholder="Enter your phone">
<input type="submit" value="Submit" name="submit">

        </form>
    </body>
</html>